name: Build HEX APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Accept Android SDK licenses
      run: |
        mkdir -p $HOME/.android
        touch $HOME/.android/repositories.cfg
        yes | sdkmanager --licenses || true

    - name: Build APK with Buildozer
      uses: digreatbrian/buildozer-action@v2
      with:
        command: buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: HEX-APK
        path: bin/*.apk
